.banner{
    /* height: 600px;  */
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    position: relative;
    
}
.banner__title{
margin-top: 40px;
font-size: 48px;
line-height: 60.8px;
/* font-family: 'Sora', plus-jakarta-sans; */
}
.banner__description{
    margin-top: 20px;
    font-size: 20px;
    color: #62677f;
}
.banner__buttons{
    margin-top: 44px;
    gap: 32px;
}
.banner__buttons__signUp{
    background-color: #FFA500;
    border-color: #FFA500;
}
.banner__buttons__signUp:hover{
background-color: rgba(255, 165, 0, 0.8);
border-color: rgba(255, 165, 0, 0.8);
}
.banner__buttons__contact{
  border:1px solid ;
  font-weight: 500;
}
.banner__buttons__contact:hover{
  background-color: rgba(255,165,0,.2);
  border-color:#FFA500;
}